/* File defining font faces to use on the websites page */

@font-face {
  font-family: 'IBMPlexSans';
  src: url("../fonts/IBM_Plex/Sans/IBMPlexSansVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url("../fonts/IBM_Plex/Sans/IBMPlexSansItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url("../fonts/IBM_Plex/Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url("../fonts/IBM_Plex/Sans/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono/RobotoMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono/RobotoMonoNerdFont-Italic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono/RobotoMonoNerdFont-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono/RobotoMonoNerdFont-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
