/* Import css document containing font style information */
@import url("fonts.css");

body {
  font-family: "FreeMono, monospace";
  border-style: solid;
  border-radius: 15px;
}

/* Defines properties of the header containing the page links */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Indicates a page link, an area on the top of the website page containing svg 
 * icons and text. It is interactable and clicking on it will redirect to another
 * page on the site */
.page-link {
  position: sticky;
  top: 15px;
  padding: 1em;
  margin-left: 20em;
  margin-right: 20em;
}

/* Defines the page link paragraph text placed within the page link icons to
 * indicate where the page link will redirect to */
.page-link a {
  /* font-family: "IBM Plex Sans", sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

/* Defines the properties of an icon on the page link */
.page-link img {
  position: relative;
  margin: auto 10%;
}

/* The properties of hovering mouse over a page link */
.page-link a:hover {
  text-decoration: underline;
}
