/* Import css document containing font style information */
@import url("fonts.css");

/* Defines properties of the body html element */
body {
}

/* Container class for all panels, sitting between the header and footer */
.panel-container {
  display: grid;
  position: relative;
  grid-gap: 10px 20px;
  left: 0;
  right: 0;
  width: 90vw;
  height: 90vh;
  grid-template-areas:
    "tlpanel midpanel trpanel"
    "blpanel midpanel brpanel";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;
  margin: 0 auto;
}

/* Defines default text properties of the p and all header elements */
p,
h1, h2, h3, h4, h5, h6 {
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  color: #ffffff;
}

/* Defines properties of the header nav with page links */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Indicates a page link, an area on the top of the website page containing svg 
 * icons and text. It is interactable and clicking on it will redirect to another
 * page on the site */
.page-link {
  display: inline-flex;
  position: sticky;
  top: 5px;
}

/* Defines the page link paragraph text placed within the page link icons to
 * indicate where the page link will redirect to */
.page-link a {
  position: inline-flex;
  font-family: 'IBMPlexMono', sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

/* The properties of hovering mouse over a page link */
.page-link a:hover {
  text-decoration: underline;
}

/* Defines the properties of an icon on the page link */
.page-link img {
  position: relative;
  margin: auto 8%;
}

/* A panel is considered a container on the web page hosting relative information such as
 * profile information, rss feed etc */
.panel {
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color: #141414;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  border: solid;
  border-color: #636363; 
  border-width: 3px;
  border-radius: 40px; 
}

/* ID defining the child class for the top section of the info container within our top left panel */
#top-info-container {
  grid-template-columns: auto 1fr;
  display: grid;
  position: relative;
  grid-row: 1 / span 3;
  grid-column: 1 / span 9;
}

/* ID defining the section within the top info container storing the profile picture */
#profile-picture-section {
  position: relative;
  grid-row-start: 1 / span 3;
  grid-column-start: 1 / span 3;
  padding-left: 17px;
  padding-top: 12px;
}

/* Defines the image property within the profile picture section */
#profile-picture-section img {
  position: relative;
  width: 125px;
  height: 125px;
  border: solid;
  border-color: #636363; 
  border-width: 3px;
  border-radius: 70px;
  object-fit: cover;
  padding: 1px;
}

/* ID defining section containing full name and other tags */
#top-info-section {
  grid-column: 4 / span 6;
  grid-row: 1 / span 3;
}

#top-info-section p {
  font-size: 18px;
}

#top-info-section h1 {
  margin-bottom: 0;
}

/* Tag class defines a coloured and slightly rounded box resized to contain text.
 * Usually used for displaying one word (or phrase) references */
.tag {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  font-weight: 600;
}

/* Text properties for tag */
.tag p {
  line-height: 0.2em;
  border: solid;
  border-radius: 7px;
  padding: 3% 2% 3% 2%;
  text-align: center;
  width: fit-content;
}

